@tailwind base;
@tailwind components;
@tailwind utilities;

.alertify-notifier .ajs-message.ajs-error{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.alertify-notifier .ajs-message.ajs-success{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
